    </article>
    <footer>
	<div>
		<ul class="list-inline">
			<li class="li1"><a href="inspiration">关于我们</a></li>
			<li><a href="http://wpa.qq.com/msgrd?v=1&uin=3313087113&site=qq&menu=yes">联系我们</a></li>
			<li><a href="login">立即使用</a></li>
			<li><a href="function">产品应用</a></li>
			<li><a href="shareWall">分享</a></li>
		</ul>
	</div>
	<div class="text-center">
		<p>版权所有：ITOO</p>
		<p>Copyright&nbsp;&nbsp;&copy;&nbsp;&nbsp;2017&nbsp;&nbsp;All Rights Reserved</p>
	</div>
    </footer>
</body>
</html>
